# {{ ansible_managed }}

tickTime=2000
# the directory where the snapshot is stored.
dataDir={{ service_data_dir }}
# the port at which the clients will connect
clientPort={{ client_port }}
# disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns=0
# Disable the adminserver by default to avoid port conflicts.
# Set the port to something non-conflicting if choosing to enable this
admin.enableServer=false
# admin.serverPort=8080

{# list servers in a multi-server environment #}
{% if groups['zookeepernodes'] | length > 1 %}
initLimit=5
syncLimit=2
# specify all zookeeper servers
# The first port is used by followers to connect to the leader
# The second one is used for leader election
{% for host in groups['zookeepernodes'] %}
server.{{ hostvars[host].my_id }}={{ hostvars[host].private_ip }}:{{ hostvars[host].leader_port }}:{{ hostvars[host].election_port }}
{% endfor %}
{% endif %}